@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*font-family: "Dancing Script", cursive;*/
/*font-family: "Mate SC", serif;*/


.logo{
    width: 50px;
    height: 50px;
/*    margin-right: 1000px;*/
}




body{
    background-color: #FAFAFA;
}


body {
    /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. /
}

body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
}

/ This box class is purely used for explaining how the bootstrap grid system works. */
.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

@media (min-width: 576px) {
    body::before {
        content: "SM";
    }
}

@media (min-width: 768px) {
    body::before {
        content: "MD";
    }
}

@media (min-width: 992px) {
    body::before {
        content: "LG";
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "XL";
    }
}

@media (min-width: 1400px) {
    body::before {
        content: "XXL";
    }
}
        /* Titul */
#titul{
    background-image: url(./img/foto10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 300px 0px 300px 0px; 
}
#titul h1{
     font-family: "Mate SC", serif;
/*     color: #fff;*/
    color: #000; 
    font-size: 5.5em;

    padding-left: 6%;
}
    /*  Apanyus de Genis  */

.apanyo1{
    display: flex !important;
    align-items: center !important;
}

.apanyo2{
    display: flex !important;
    align-items: center !important; 
}

@media screen and (max-width: 1200px){
    .apanyo2{
        display: flex !important;
        align-items: center !important; 
        flex-direction: column-reverse !important;
    }
}

.apanyo3{
    padding: 80px 0px 80px 0px;
}

.apanyo4{
    width: 100%;
    padding: 40px;
}

.apanyo5{
    background-color: #222;
}

.apanyo5 a p{
    color: #FAFAFA;
    font-variant-caps: #FAFAFA;
}

 @media screen and (max-width: 768px){
    .apanyo6{
        display: flex !important;
        align-items: center !important; 
        flex-direction: column !important;
    }
    .apanyo7{
        border-left: 2px solid #FAFAFA;
        border-right: 2px solid #FAFAFA;
        
    }
    .apanyo8{
        margin: 0px 0px 120px 0px !important;
    }
    /*.apanyo8 img{
        border-left: 2px solid #FAFAFA;
        border-right: 2px solid #FAFAFA;
        padding: 0px 5px 0px 5px;
;
         width: 100% !important;
        
    }
*/
}

.bores{
/*    border: 2px solid #222;*/
/*    widows: 0px;*/
}

        /* Sec 1 */
#sec1{
    background-color: #a4d067;
/*    margin-top: 30px;*/
    margin-bottom: 30px;
    padding: 0px 80px;
}


#sec1 h3{
    font-family: "Oswald", sans-serif;
    font-size: 2.3em;
}

#sec1 p{
    font-family: "Oswald", sans-serif;
    color: #000;
    font-size: 2em;
}

        /* Sec 2 */
#sec2{
    background-color: #c9ed91;
    margin-bottom: 30px;
    padding: 0px 80px;
}


#sec2 h3{
    font-family: "Oswald", sans-serif;
    font-size: 2.3em;
}

#sec2 p{
    font-family: "Oswald", sans-serif;
    color: #000;
    font-size: 2em;
}

        /* Sec 3 */
#sec3{
    background-color: #9ece73;
    margin-bottom: 30px;
    padding: 0px 80px;
}

#sec3 h3{
    font-family: "Oswald", sans-serif;
    font-size: 2.3em;
}

#sec3 p{
    font-family: "Oswald", sans-serif;
    color: #222;
    font-size: 2em;
}

    /* peud de pagina   */

#footer{
    border-top: 3px solid white;
    background: #1f1f1f;
    color: white;
}

.container3{
    display: flex;
    justify-content: center;
}

.sec{
    width: 333px;
    height: 250px;
    margin: 60px 0px;
    padding: 0px;
}

.iconos{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 20px auto;
}

.iconos{
    margin-block: 0px;
}

.margin{
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.sec i{
    color: white;
    background: #3c3b3b;
    padding: 5px;
    border-radius: 5px;
    font-size: 2em;
    margin-bottom: 150px;
    transition: all 0.5s;
}

.sec h1{
    font-size: 1.5em;
} 

.sec li{
    list-style: square;
    padding-top: 10px;
}

.sec p{
    font-size: 0.7em;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 20px;
}



.sec i:hover{
    color: #1f1f1f;
    background: white;
}

.flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sec img{
    width: 250px;
}

 /*  Carrusel  */
.mubiment {
         opacity: 0;
         transform: translateY(20px);
         transition: opacity 0.5s ease-out, transform 0.5s ease-out;
         }
         .mubiment.fadeIn {
         opacity: 1;
         transform: translateY(0);
         }

