@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.titulo{
    background-image: url(./img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
}

.titulo img{
        padding-top: 153.5px;
        width: 650px;
       

}


.quisom h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 75px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;


}

.quisom{
    background-color: #87C4FF;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col img{
    width: 100%;
    text-align: center;
    padding-left: 10%;
    transition: all 0.5s;
  

      
    
}



img{
    border-radius: 50px;

}
.col2 img{
    width: 550px;
    height: 350px;
    text-align: center;
    padding-left: 150px;
   background-color: #87C4FF;
    
    
}


.col a{
    text-decoration: none;
}
.col p{
    text-align: center;
/*    width: 450px;*/
    display: flex;
    justify-content: center;
/*    padding-left: 233px;*/
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}


.col{
    transition: all 0.5s;

}


.col:hover{
    transform: translateX(20px);
    


}

.col p:hover{
    color: black;
}

.col2 p{
    text-align: center;
    width: 450px;
    display: flex;
    justify-content: center;
    padding-left: 233px; 
    
       
}



/*.col3 p{
    width: 600px;
        padding-left: 50px;
        font-size: 25px;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        border: 2px solid #fff;  2px de ancho, sólido y color negro (puedes ajustar estos valores según tus preferencias)
   
 
}
*/

.serveis h2{
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.serveis{
    background-color: #176B87;
    color: white;
   
}


.abajo{
    padding-bottom: 100px;
}



.card {
   opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    background-color: #87C4FF;
    border: 0px;
        }
        .card.fadeIn {
        opacity: 1;
        transform: translateY(0);
        background-color: #87C4FF;
        border: 0px;
        }

body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
}


.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

/* @media (min-width: 576px) {
    body::before {
        content: "SM";
    }
}

@media (min-width: 768px) {
    body::before {
        content: "MD";
    }
}

@media (min-width: 992px) {
    body::before {
        content: "LG";
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "XL";
    }
} 

@media (min-width: 1400px) {
    body::before {
        content: "XXL";
    }
} */





#footer{
	border-top: 3px solid white;
	background: #1f1f1f;
	color: white;
}


.container3{
	display: flex;
	justify-content: center;
}

.sec{
	width: 333px;
	height: 250px;
	margin: 60px 0px;
	padding: 0px;
}

.iconos{
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin: 20px auto;
}



.margin{
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.sec i{
	color: white;
	background: #3c3b3b;
	padding: 5px;
	border-radius: 5px;
	font-size: 2em;
	margin-bottom: 150px;
    transition: all 0.5s;
}

.sec h1{
	font-size: 1.5em;
} 

.sec li{
	list-style: square;
	padding-top: 10px;
}

.sec p{
	font-size: 0.7em;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 20px;
}



.sec i:hover{
	color: #1f1f1f;
	background: white;
}

.flex2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sec img{
	width: 250px;
}


    /*  apanyo  */

 @media screen and (max-width: 768px){
    .apanyo6{
        display: flex !important;
        align-items: center !important; 
        flex-direction: column !important;
    }
    .apanyo7{
        border-left: 2px solid #FAFAFA;
        border-right: 2px solid #FAFAFA;
        
    }
    .apanyo8{
        margin: 0px 0px 120px 0px !important;
    }

}


@media screen and (max-width: 1200px){
    .apanyo10{
        display: flex !important;
        align-items: center !important; 
        flex-direction: column !important;
    }
     .apanyo9 p{
        font-size: 2.5em !important;
    }
}

.apanyo9{
        padding-right: 5%;
    }
 
 @media screen and (max-width: 1200px){
    .apanyo9{
        padding-right: 10%;
    }
 } 



        /* Qui Som ? */
.pare1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pare1 h4{
    font-family: "Oswald", sans-serif;
/*    border: 2px solid #222;*/
    box-shadow: 0px 0px 15px #222;
    border-radius: 10px;
    padding: 10px;
    background-color: #101030;
    color: #FAFAFA;
}

.clients{
    display: flex;
    justify-content: space-around; 

    margin-top: 70px;
}

.clients h5{
    margin: 15px;
}

.clients p{
    margin-bottom: 30px;
    width: 300px;
    text-align: center;
}

.persona{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persona img{
    box-shadow: 0px 0px 15px #222;
    border-radius: 300px;
    width: 250px;
    height: 250px;
}







        /* i i i */

.iii{
    margin-bottom: 1000px;
}

